<div class="row">
  <div class="col">
    <div class="card-deck">

      <div class="card border-secondary">
        <div class="card-body bg-light text-secondary p-0">
          <div class="row p-0 m-0">
            <div class="col-6 pr-1 pb-2 pt-0 m-0">
              <a class="link-unstyled" [routerLink]="getRouterLinkFromLink('/new-apps')">
                <span class="align-bottom display-3"><i class="fas fa-folder-plus"></i></span>
              </a>
            </div>
            <div class="col-6 text-right pl-1 pb-2 pt-1 m-0">
              <div *ngIf="!platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getNewAppsByPlatform('ios').length + appsService.getNewAppsByPlatform('android').length }}</span></div>
              <div *ngIf="platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getNewAppsByPlatform(platform).length }}</span></div>
              <div class="col-12 p-0 m-0"><small>New Apps</small></div>
            </div>
          </div>
        </div>
        <div class="card-footer text-light bg-secondary">
          <a class="d-block link-unstyled" [routerLink]="getRouterLinkFromLink('/new-apps')">
            Show List
            <span class="float-right align-bottom"><i class="fas fa-arrow-alt-circle-right"></i></span>
          </a>
        </div>
      </div>

      <div class="card border-secondary">
        <div class="card-body bg-secondary text-light p-0">
          <div class="row p-0 m-0">
            <div class="col-6 pr-1 pb-2 pt-0 m-0">
              <span class="align-bottom display-3"><i class="fas fa-edit"></i></span>
            </div>
            <div class="col-6 text-right pl-1 pb-2 pt-1 m-0">
              <div *ngIf="!platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getToUpdateAppsByPlatform('ios').length + appsService.getToUpdateAppsByPlatform('android').length }}</span></div>
              <div *ngIf="platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getToUpdateAppsByPlatform(platform).length }}</span></div>
              <div class="col-12 p-0 m-0"><small>To update</small></div>
            </div>
          </div>
        </div>
        <div class="card-footer text-secondary bg-light">
          <a class="d-block link-unstyled" [routerLink]="getRouterLinkFromLink('/to-update-apps')">
            Show List
            <span class="float-right align-bottom"><i class="fas fa-arrow-alt-circle-right"></i></span>
          </a>
        </div>
      </div>

      <div class="card border-info">
        <div class="card-body bg-info text-light p-0">
          <div class="row p-0 m-0">
            <div class="col-6 pr-1 pb-2 pt-0 m-0">
              <span class="align-bottom display-3"><i class="fas fa-upload"></i></span>
            </div>
            <div class="col-6 text-right pl-1 pb-2 pt-1 m-0">
              <div *ngIf="!platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getReadyToPublishAppsByPlatform('ios').length + appsService.getReadyToPublishAppsByPlatform('android').length }}</span></div>
              <div *ngIf="platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getReadyToPublishAppsByPlatform(platform).length }}</span></div>
              <div class="col-12 p-0 m-0"><small>Ready to publish</small></div>
            </div>
          </div>
        </div>
        <div class="card-footer text-info bg-light">
          <a class="d-block link-unstyled" [routerLink]="getRouterLinkFromLink('/ready-apps')">
            Show List
            <span class="float-right align-bottom"><i class="fas fa-arrow-alt-circle-right"></i></span>
          </a>
        </div>
      </div>

      <div class="card border-warning">
        <div class="card-body bg-warning text-light p-0">
          <div class="row p-0 m-0">
            <div class="col-6 pr-1 pb-2 pt-0 m-0">
              <span class="align-bottom display-3"><i class="fas fa-tasks"></i></span>
            </div>
            <div class="col-6 text-right pl-1 pb-2 pt-1 m-0">
              <div *ngIf="!platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getCheckingAppsByPlatform('ios').length + appsService.getCheckingAppsByPlatform('android').length }}</span></div>
              <div *ngIf="platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getCheckingAppsByPlatform(platform).length }}</span></div>
              <div class="col-12 p-0 m-0"><small>Pending approval</small></div>
            </div>
          </div>
        </div>
        <div class="card-footer text-warning bg-light">
          <a class="d-block link-unstyled" [routerLink]="getRouterLinkFromLink('/pending-approval-apps')">
            Show List
            <span class="float-right align-bottom"><i class="fas fa-arrow-alt-circle-right"></i></span>
          </a>
        </div>
      </div>

      <div class="card border-success">
        <div class="card-body bg-success text-light p-0">
          <div class="row p-0 m-0">
            <div class="col-6 pr-1 pb-2 pt-0 m-0">
              <span class="align-bottom display-3"><i class="far fa-check-circle"></i></span>
            </div>
            <div class="col-6 text-right pl-1 pb-2 pt-1 m-0">
              <div *ngIf="!platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getPublishedAppsByPlatform('ios').length + appsService.getPublishedAppsByPlatform('android').length }}</span></div>
              <div *ngIf="platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getPublishedAppsByPlatform(platform).length }}</span></div>
              <div class="col-12 p-0 m-0"><small>Already published</small></div>
            </div>
          </div>
        </div>
        <div class="card-footer text-success bg-light">
          <a class="d-block link-unstyled" [routerLink]="getRouterLinkFromLink('/published-apps')">
            Show List
            <span class="float-right align-bottom"><i class="fas fa-arrow-alt-circle-right"></i></span>
          </a>
        </div>
      </div>

      <div class="card border-danger">
        <div class="card-body bg-danger text-light p-0">
          <div class="row p-0 m-0">
            <div class="col-6 pr-1 pb-2 pt-0 m-0">
              <span class="align-bottom display-3"><i class="fas fa-ban"></i></span>
            </div>
            <div class="col-6 text-right pl-1 pb-2 pt-1 m-0">
              <div *ngIf="!platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getRejectedAppsByPlatform('ios').length + appsService.getRejectedAppsByPlatform('android').length }}</span></div>
              <div *ngIf="platform" class="col-12 p-0 m-0"><span class="display-4">{{ appsService.getRejectedAppsByPlatform(platform).length }}</span></div>
              <div class="col-12 p-0 m-0"><small>Rejected apps</small></div>
            </div>
          </div>
        </div>
        <div class="card-footer text-danger bg-light">
          <a class="d-block link-unstyled" [routerLink]="getRouterLinkFromLink('/rejected-apps')">
            Show List
          <span class="float-right align-bottom"><i class="fas fa-arrow-alt-circle-right"></i></span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
