<div class="col-12" style="padding: 0; margin: 0">
  <nav class="navbar navbar-dark light-dark bg-dark">
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="navbar-brand" routerLink="/">G&amp;G Product Inc.</a>
      </div>
    </div>

    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="onSignOut()">
          <span style="font-size: 1.2em;">
            <i class="fas fa-sign-out-alt"></i>
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>
