<div class="container-fluid" style="padding: 0;">
  <nav class="navbar navbar-dark light-dark bg-dark mb-5">
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a (click)="toggleSidebar()" class="nav-item nav-link">
          <span style="font-size: 1.5em;">
            <i class="fas fa-bars"></i>
          </span>
        </a>
      </div>
    </div>

    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="onSignOut()">
          <span style="font-size: 1.5em;">
            <i class="fas fa-sign-out-alt"></i>
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>
