<app-dashboard-navbar></app-dashboard-navbar>

<ng-sidebar-container style="height: 100vh;">

  <!-- A sidebar -->
  <ng-sidebar mode="over" [(opened)]="_opened">
    <app-dashboard-aside></app-dashboard-aside>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content style="position: relative;">
    <div *ngIf="_opened" ngStyle="" style="z-index: 10; background-color: rgba(34,34,34,0.4); width: 100%; height: 100%; position: absolute; top: 0; left: 0;" (click)="toggleSidebar()"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <a (click)="toggleSidebar()">
            <span style="font-size: 1.2em;">
              <i *ngIf="!_opened" class="fas fa-bars"></i>
              <i *ngIf="_opened" class="fas fa-times"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3 [ngClass]="{'text-success' : platform === 'android', 'text-info': platform === 'ios'}"  *ngIf="app">{{ app.appName }} <small class="text-muted"> Create at : {{ app.createdAt | date }}</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header text-muted">
              <span [ngClass]="{'text-success' : platform === 'android', 'text-info': platform === 'ios'}" style="font-size: 1.4em;">
                <i [ngClass]="{'fab': true, 'fa-app-store-ios': platform === 'ios', 'fa-android': platform === 'android'}"></i>
              </span> Update <span class="text-warning" *ngIf="app">{{ app.appName }}</span> App.
              <button type="button" *ngIf="app" [ngClass]="{'btn float-right': true, 'btn-info': platform === 'ios', 'btn-success': platform === 'android'}" (click)="saveApp()" [disabled]="!app.appName" >Save Changes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card border-light mb-3">
            <div *ngIf="app" class="card-body text-dark">

              <!-- Alert Save success -->
              <div *ngIf="_alertSaveSuccess && app" class="alert alert-success alert-dismissible fade show" role="alert">
                The changes made to the application "<strong>{{app.appName}}</strong>" have been saved successfully
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <fieldset *ngIf="app">
                <legend [ngClass]="{'text-success' : platform === 'android', 'text-info': platform === 'ios'}">App Informations</legend>
                  <div class="form-row">
                    <div class="col form-group">
                      <label for="appName">App Name</label>
                      <div class="input-group">
                        <input [disabled]="app.published" type="text" class="form-control" id="appName" [(ngModel)]="app.appName" required #appName>
                        <div class="input-group-prepend">
                          <button id="appNamePrepend" [ngxClipboard]="appName">
                            <i class="far fa-copy"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col form-group">
                      <label for="packageName">Package Name</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="packageName" [(ngModel)]="app.packageName" #packageName>
                        <div class="input-group-prepend">
                          <button id="packageNamePrepend" [ngxClipboard]="packageName">
                            <i class="far fa-copy"></i>
                          </button>
                        </div>
                    </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col form-group">
                      <label for="shortDescription">Short Description</label>
                      <input type="text" class="form-control" id="shortDescription" [(ngModel)]="app.shortDescription">
                    </div>
                    <div class="col form-group">
                      <label for="remarks">Remarks</label>
                      <input type="text" class="form-control" id="remarks" [(ngModel)]="app.remarks">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col form-group">
                      <label for="completeDescription">Description</label>
                      <textarea class="form-control" id="completeDescription" rows="3" [(ngModel)]="app.completeDescription"></textarea>
                    </div>
                    <div class="col form-group">
                      <label for="keyWords">Key Words <span class="text-muted">Separate by coma.</span></label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="keyWords" [(ngModel)]="app.keyWords" #keyWords>
                        <div class="input-group-prepend">
                          <button id="keyWordsPrepend" [ngxClipboard]="keyWords">
                            <i class="far fa-copy"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="form-row">
                  <div class="col form-group">
                    <label for="privacyPolityType">Privacy Polity Type</label>
                    <select [(ngModel)]="app.privacyPolityType" required class="custom-select my-1 mr-sm-2" id="privacyPolityType">
                      <option *ngFor="let type of _privacyPolicyTypes"
                              [value]="type.value"
                              [selected]="type.value === app.privacyPolityType">{{ type.name }}</option>
                    </select>
                  </div>
                  <div class="col form-group">
                    <label for="privacyPolicy">Privacy Policy</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="privacyPolicy" [value]="getPrivacyPolicyUrl()" readonly #privacyPolicy>
                      <div class="input-group-prepend">
                        <button id="privacyPolicyPrepend" [ngxClipboard]="privacyPolicy">
                          <i class="far fa-copy"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset  *ngIf="app">
                <legend [ngClass]="{'text-success' : platform === 'android', 'text-info': platform === 'ios'}">Google Admob</legend>
                <div class="form-row">
                  <div class="col form-group">
                    <label for="admobAppId">ADMOB_APP_ID</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="admobAppId" [(ngModel)]="app.admobAppId" #admobAppId>
                      <div class="input-group-prepend">
                        <button id="admobAppIdPrepend" [ngxClipboard]="admobAppId">
                          <i class="far fa-copy"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col form-group">
                    <label for="admobAppId">admobBannerId</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="admobBannerId" [(ngModel)]="app.admobBannerId" [disabled]="!app.admobAppId" #admobBannerId>
                      <div class="input-group-prepend">
                        <button id="admobBannerIdPrepend" [ngxClipboard]="admobBannerId">
                          <i class="far fa-copy"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col form-group">
                    <label for="admobAppId">admobInterstitialId</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="admobInterstitialId" [(ngModel)]="app.admobInterstitialId"  [disabled]="!app.admobAppId" #admobInterstitialId>
                      <div class="input-group-prepend">
                        <button id="admobInterstitialIdPrepend" [ngxClipboard]="admobInterstitialId">
                          <i class="far fa-copy"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset  *ngIf="app">
                <legend [ngClass]="{'text-success' : platform === 'android', 'text-info': platform === 'ios'}">Status</legend>
                <div class="form-row">
                  <div class="col form-group">
                    <span class="switch-title">App Design</span><br>
                    <label class="switch">
                      <input class="switch-input" type="checkbox" [checked]="app.design" [(ngModel)]="app.design">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col form-group">
                    <span class="switch-title">App Creation</span><br>
                    <label class="switch">
                      <input class="switch-input" type="checkbox" [checked]="app.creation" [(ngModel)]="app.creation">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div *ngIf="platform === 'ios'" class="col form-group">
                    <span class="switch-title">App Certificate</span><br>
                    <label class="switch">
                      <input class="switch-input" type="checkbox" [checked]="app.appCertificate" [(ngModel)]="app.appCertificate">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col form-group">
                    <span class="switch-title">Ready to Publish</span><br>
                    <label class="switch">
                      <input class="switch-input" type="checkbox" [checked]="app.readyToPublished" [(ngModel)]="app.readyToPublished">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col form-group">
                    <span class="switch-title">App to update</span><br>
                    <label class="switch">
                      <input class="switch-input" type="checkbox" [checked]="app.toUpdate" [(ngModel)]="app.toUpdate">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col form-group">
                    <span class="switch-title">Pending approval</span><br>
                    <label class="switch">
                      <input class="switch-input" type="checkbox" [checked]="app.checking" [(ngModel)]="app.checking">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col form-group">
                    <span class="switch-title">App Rejected</span><br>
                    <label class="switch">
                      <input class="switch-input" type="checkbox" [checked]="app.rejected" [(ngModel)]="app.rejected">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col form-group">
                    <label for="createdAt">Created at</label>
                    <input [disabled]="app.createdAt" type="text" class="form-control" id="createdAt" [placeholder]="app.createdAt | date:'medium'" disabled>
                  </div>
                  <div class="col form-group">
                    <label for="lastModificationDate">Last modification date</label>
                    <input type="text" class="form-control" id="lastModificationDate" [placeholder]="app.lastModificationDate | date:'medium'" disabled>
                  </div>
                  <div class="col form-group">
                    <label for="lastDatePosting">Last posting Date</label>
                    <input type="text" class="form-control" id="lastDatePosting" [placeholder]="app.lastDatePosting | date:'medium'"  disabled>
                  </div>
                </div>
                <div class="form-row">
                  <button type="button" *ngIf="app" [ngClass]="{'btn float-left': true, 'btn-info': platform === 'ios', 'btn-success': platform === 'android'}" (click)="onAppHasBeenPublished()" [disabled]="!app.appName" >App has been published</button>

                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</ng-sidebar-container>
