<app-dashboard-navbar></app-dashboard-navbar>

<ng-sidebar-container style="height: 100vh;">

  <!-- A sidebar -->
  <ng-sidebar mode="over" [(opened)]="_opened">
    <app-dashboard-aside></app-dashboard-aside>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content style="position: relative;">
    <div *ngIf="_opened" ngStyle="" style="z-index: 10; background-color: rgba(34,34,34,0.4); width: 100%; height: 100%; position: absolute; top: 0; left: 0;" (click)="toggleSidebar()"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <a (click)="toggleSidebar()">
            <span style="font-size: 1.2em;">
              <i *ngIf="!_opened" class="fas fa-bars"></i>
              <i *ngIf="_opened" class="fas fa-times"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3>Dashboard <small class="text-muted">Statistic Overview</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header text-muted">
              <span style="font-size: 1.2em;">
                <i class="fas fa-tachometer-alt"></i>
              </span> Dashboard
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card border-light mb-3">
            <div class="card-body text-dark">
              <p class="card-text">You are now in administrator panel</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card-deck">
            <div class="card border-info border-info">
              <div class="card-body bg-info text-light p-0">
                <div class="row p-0 m-0">
                  <div class="col-6 pr-1 pb-2 pt-0 m-0">
                    <span class="align-bottom display-3"><i class="fab fa-app-store-ios"></i></span>
                  </div>
                  <div class="col-6 text-right pl-1 pb-2 pt-1 m-0">
                    <div class="col-12 p-0 m-0"><span class="display-4">2</span></div>
                    <div class="col-12 p-0 m-0"><small>Flex item 2</small></div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-info bg-light">
                Footer
                <span class="float-right align-bottom"><i class="fas fa-arrow-alt-circle-right"></i></span>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</ng-sidebar-container>
