<div class="list-group">
  <a routerLink="/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-dark">
    <span style="font-size: 1.2em;">
      <i class="fas fa-tachometer-alt"></i>
    </span> Dashboard</a>
  <a routerLink="/apps" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-dark">
    <span style="font-size: 1.2em;">
      <i class="fas fa-mobile"></i>
    </span> Mobile Apps</a>
  <a routerLink="/create-app" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-dark">
    <span style="font-size: 1.2em;">
      <i class="fas fa-plus-square"></i>
    </span> Add a new App</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
    This is a warning list group item</a>
</div>
