<form [formGroup]="addAppForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="appName">App Name</label>
    <input type="text" id="appName" class="form-control" formControlName="appName">
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" [checked]="ios" [value]="ios"
           (change)="ios = !ios" formControlName="ios" id="ios">
    <label class="form-check-label" for="ios">
      Ios Platform
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" [checked]="android" [value]="android"
           (change)="android = !android" formControlName="android" id="android">
    <label class="form-check-label" for="android">
      Android Platform
    </label>
  </div>
  <hr>

  <label class="switch">
    <input type="checkbox" [checked]="published" [value]="published"
           (change)="onSwitched()">
    <span class="slider round"></span>
  </label>

  <button type="submit"
          class="btn btn-primary float-right"
          [disabled]="addAppForm.invalid">Create your account</button>
</form>
<p class="text-danger">{{ errorMessage }}</p>
